{% extends 'base.html' %}

{% block content %}
<div class="card mx-auto mt-5" style="width: 24rem;">
  <h5 class="card-header">Set new password</h5>
  <div class="card-body">
    {% if validlink %}
    <form method="POST" novalidate>
      {% csrf_token %}
      {{ form }} 
        <button type="Submit" class="btn btn-primary btn-block btn-sm" >
          <i class="fas fa-save"></i> Save </button>
    </form>
      {% else %}
      <p style="color:red"> Invalid token.</p>
      <p>
        <a href="{% url 'pledge:password_reset' %}">Request a new password reset token</a>
      </p>
      {% endif %}
    </div>
    <div class="container mb-3">
      <div class="copyright text-center my-auto">
        <span>© Delta Earthmoving, Inc. All rights reserverd.</span><br/>
        <span class='small'>Powered by Xystum™</span>
      </div>
    </div> 
  </div>
{% endblock %}
{% block footer %}{% endblock %}
