{% extends 'base.html' %}

{% block content %}
<div class="card col-sm-12">
<center>
<h2>Email Sent</h2>
<strong>
<pre style="color: green;"> 
We've emailed you instructions for setting your password, if an account exists
with the email you entered. You should receive them shortly.

If you don't receive an email, please make sure you've entered the address you
registered with, and check your spam folder.
</pre>
</strong>
<hr>
<a class="addlink" href='{% url 'pledge:login' %}'>
    <button type="button" class="btn btn-primary btn-sm">
        <i class="fas fa-file"></i> Back to Login 
    </button>
</a>
<pre></pre>
</center>
</div>
{% endblock %}