{% extends 'base.html' %}


{% block main %}
<div class="card mx-auto mt-5" style="width: 24rem;">
  <h5 class="card-header bg-primary text-light font-weight-bold">Reset your password</h5>
  <div class="card-body">
      <form method="POST" novalidate>
        {% csrf_token %}
        {{ form }} 
        <button type="Submit" class="btn btn-primary btn-block btn-sm" >
          <i class="fas fa-envelope"></i> Send confirmation link
        </button>
        <a class="btn btn-danger btn-block btn-sm" href="{% url 'pledge:login'%}">
          <i class="fas fa-undo fa-fw"></i> Back to Login</a>
      </form>
  </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
