{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block main %}
{{ block.super }}


<section class="section">
  <div class="row">
  <div class="col-lg-12">

<!-- Default Card -->
    <div class="card">
    <div class="card-body">
      <h5 class="card-title"> {{ object }}  : 
      {% if can_change %}        
      <a href="{% url 'project:budgetitem-update' object.id %}" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit Budget Item Info"> <i class="bi bi-pencil-square"></i></a>
      {% endif %}
      </h5>
      <!-- Bordered Tabs -->
      <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
        {% include 'snippets/bordered-tab-li.html' with active='active' tabId='info' %}
        {% include 'snippets/bordered-tab-li.html' with tabId='tasks' %}
        {% include 'snippets/bordered-tab-li.html' with tabId='dailywork' alt_title='daily work'%}
        {% include 'snippets/bordered-tab-li.html' with tabId='documents' %}
        {% include 'snippets/bordered-tab-li.html' with tabId='comments' %}
      </ul>
      <div class="tab-content pt-2" id="borderedTabContent">
<!-- Tabs -->

<!-- Info Tab -->
      <div class="tab-pane fade show active" id="card-info" role="tabpanel" aria-labelledby="info-tab">
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Code:</label>
        <div class="col-sm-2">
        <input type="text" class="form-control" value="{{ object.code }}" disabled="">
        </div>
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" value="{{ object.name}}" disabled="">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Site:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" value="{{ object.site }}" disabled="">
        </div>
        <label class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-2">
        <input type="text" class="form-control" value="{{ object.amount }}" disabled="">
        </div>
      </div>

      {% include 'snippets/audit-log.html' %}
      {% include 'snippets/navigate.html' with app='project' model='BudgetItem' object=object %}
      
      </div>
<!-- End Info Tab -->

<!-- Tasks Tab -->          
  <div class="tab-pane fade" id="card-tasks" role="tabpanel" aria-labelledby="tasks-tab">
  <div class="table-responsive">
  <table class="table datatable table-striped  w-100 d-block d-md-table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Activity</th>
        <th>Name</th>
        <th>Leader</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>

      {% for task in object.tasks.all %}
      <tr>
        <td><a href="{% url 'project:task-detail' task.id%}">{{ task.code }}</a></td>
        <td>{{ task.activity }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.leader }}</td>
        <td style="text-align: right; padding-right: 30px">{{ task.amount|floatformat:2|intcomma }}</td>
      </tr>
      {% endfor %}
      {% comment %}
      <tfoot style="font-weight: bold">
        <tr>
          <td style="text-align: left; padding-right: 30px"colspan="2">Total no. of items : {{ task.count }}</td>
          <td style="text-align: right; padding-right: 30px">Grand Total : </td>
          <td style="text-align: right; padding-right: 30px">{{ object.my_activity|floatformat:2|intcomma }}</td>
        </tr>
      </tfoot>
      {% endcomment %}
    </tbody>  
  </table>
  </div>
  </div><!-- End Tasks Tab -->

<!-- Document Tab -->
  {% include 'document/snippets/document.html' with object=object %}<!-- End Document Tab -->
<!-- Comment Tab -->
  {% include 'comment/snippets/comment.html' with object=object %} <!-- End Comment Tab -->        

        
      <!-- End Tabs -->
      <!-- End Bordered Tabs -->
    </div>
    </div><!-- End Default Card -->
  </div>
  </div>
</section>
{% endblock %}
