{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<section class="section">
  <div class="row">
  <div class="col-lg-12">
<!-- Default Card -->
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ object }} : 
    {% if can_change %}
    <a href="{% url 'project:task-update' object.id %}" data-bs-toggle="tooltip" data-bs-placement="right" title="Edit Task Info"> <i class="bi bi-pencil-square"></i></a>
    {% endif %}
    </h5>
<!-- Bordered Tabs -->
  <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
    {% include 'snippets/bordered-tab-li.html' with active='active' tabId='info' %}
    {% include 'snippets/bordered-tab-li.html' with tabId='dailywork' alt_title='daily work' %}
    {% include 'snippets/bordered-tab-li.html' with tabId='documents' %}
    {% include 'snippets/bordered-tab-li.html' with tabId='comments' %}
  </ul>
<!-- Tabs -->
  <div class="tab-content pt-2" id="borderedTabContent">
<!-- Info Tab -->
  <div class="tab-pane fade show active" id="card-info" role="tabpanel" aria-labelledby="info-tab">
  <div class="row mb-3"> 
    <label class="col-sm-2 col-form-label">Code:</label> 
    <div class="col-sm-2"> 
      <input type="text" class="form-control" value="{{ object.code }}" disabled=""> 
    </div>
    <label class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" value="{{ object.name}}" disabled="">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Site:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" value="{{ object.activity.site }}" disabled="">
    </div>
    <label class="col-sm-2 col-form-label">Amount</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" value="{{ object.amount }}" disabled="">
    </div>
  </div>
  {% include 'snippets/audit-log.html' %}
  <div class="card-footer">
  <div class="btn-group" role="group" aria-label="Left group">
      {% include 'snippets/toggle-button.html' with app='project' model='Task' object=object %}
  </div>
  </div>
  
 </div> <!-- End Info Tab -->
<!-- Document Tab -->
  {% include 'document/snippets/document.html' with object=object %} <!-- End Document Tab -->
<!-- Comment Tab -->
  {% include 'comment/snippets/comment.html' with object=object %} <!-- End Comment Tab -->
  </div> <!-- End Tabs -->
  </div> 
  </div> <!-- End Default Card -->
  </div>
  </div> 
</section>
{% endblock %}

{% block extra_js %}
  {% include 'js/toggle-follow.js'%}
{% endblock%}
