<div class="pagetitle">
  <h1>{{ page_title }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
      {% for item in parent_menu %}
          <li class="breadcrumb-item">
            <a href="{% url item.1 %}"> {{ item.0 }} </a>
          </li>
      {% endfor %}
      {% if object %}
        <li class="breadcrumb-item active">{{ object }}</li>
      {% else %}  
        <li class="breadcrumb-item active">{{ page_name }}</li>
      {% endif %}
    </ol>
  </nav>
</div><!-- End Page Title -->
