{% extends 'base.html' %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_header %}
<li class="nav-item dropdown">
	<a class="nav-link nav-icon" href="#">
		<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#filter-modal"><i class="bi bi-funnel"></i> Filter</button>
</a>
</li>
{% endblock %}

{% comment %}
{% block extra_sidebar %} 
{{ block.super }}

<div class="card-footer">
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      More filters
    </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
					<form action="" method="get" class="form form-horizontal">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-outline-primary btn-sm">Filter</button>
          <button type="reset" class="btn btn-outline-danger btn-sm">Reset</button>
          </form> 
      </div>
    </div>
  </div>
</div>
</div>
{% endblock%}
{% endcomment %}

{% block content %}

<div class="table-responsive">
{% render_table table %}
</div>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="Left group">
		<button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#download-modal">
		<i class="bi bi-save me-1"></i> Download</button>
  </div>
{% if can_add %}
	<div class="btn-group" role="group" aria-label="Right group">
		{% comment %}
		<button type="button" class="btn btn-outline-primary" onclick="location.href='{{ request.path }}create'">
		{% endcomment %}
		<a href="{{ request.path }}create" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-square"></i> Create New</a>
  </div>
{% endif %}
</div>

<div class="modal fade" id="download-modal" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">Download to File</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<form action="" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" name="download" class="btn btn-outline-primary btn-sm">
			<i class="bi bi-floppy me-1"></i> Save</button>
		</form>
	</div>
</div>
</div>
</div>

<div class="modal fade" id="filter-modal" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">Filter List</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<form action="" method="get" class="form form-horizontal">
      {{ filter.form|crispy }}
      <button type="submit" class="btn btn-outline-primary btn-sm">Filter</button>
      <button type="reset" class="btn btn-outline-danger btn-sm">Reset</button>
    </form> 
	</div>
</div>
</div>
</div>

{% endblock %}


{% block extra_js %}
  {% include 'js/toggle-follow.js'%}
{% endblock%}
