{% extends 'base.html'%}
{% load static %}

{% block main %}
<section class="section">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8 ">
  <div class="pagetitle">
  <h1 class="justify-content-center">WELCOME TO CORPORATE SYSTEM MANAGEMENT SUITE</h1>
  </div><!-- End Page Title -->

  <div class="row row-cols-lg-2">
    <div class="col-lg-8">
      <div class="card m-1">
        <img src="{% static 'img/photo01.png' %}" class="card-img-top" alt="..."></div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="card m-1">
          <img src="{% static 'img/photo02.jpg' %}" class="card-img-top" alt="..."></div>
      </div>
      <div class="row">
        <div class="card m-1">
          <img src="{% static 'img/photo03.png' %}" class="card-img-top" alt="..."></div>
      </div>
    </div>
  </div>
  <div class="row row-cols-lg-2">
    <div class="col-lg-6">
      <div class="card">
        <img src="{% static 'img/photo04.png' %}" class="card-img-top" alt="..."></div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <img src="{% static 'img/photo05.jpg' %}" class="card-img-top" alt="..."></div>
    </div>
  </div>
</div>
</div>
</div>
</section>

{% endblock %}
