{% extends 'base.html'%}
{% load static %}

{% block main %}
{{ block.super }}

<section class="section profile">
<div class="row">

{% comment %}
<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
  <ul>
  {% for field, errors in cform.errors.items %}
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  {% endfor %}
  </ul>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endcomment %}

  {% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %} alert-danger bg-danger {% else %} alert-success bg-success {% endif %} text-light border-0 alert-dismissible fade show" role="alert">
    <ul class="list-unstyled">
    <li class="{{ message.tags }}"><i class="bi bi-exclamation-circle-fill"></i> {{ message.tags|title }} ! {{ message }} </li>
    </ul>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  {% endif %}

  <div class="col-xl-4">
  <div class="card">
  <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
    {% if user.profile.image_file %}
    <img src="{{ user.profile.image_file.url }}" alt="Profile" class="rounded-circle">
    {% else %}
    <img src="{% static 'img/logo.png'%}" alt="Profile" class="rounded-circle">
    {% endif %}
    <h2>{{ user.first_name}} {{ user.last_name}}</h2>
    <h3>{{ user.profile.job }}</h3>
    <div class="social-links mt-2">
    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    <hr>
  
    <!-- Dark Mode Toggle -->
    <button id="dark-mode-toggle" class="btn-sm">🌙 Dark Mode</button>

    </div>
  </div>
  </div>
  </div>

  <div class="col-xl-8">
  <div class="card">
  <div class="card-body pt-3">

    <!-- Bordered Tabs -->
  <ul class="nav nav-tabs nav-tabs-bordered">
    <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
    Overview</button>
    </li>
    <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
    Edit Profile</button>
    </li>
    {% comment %}
    <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">
    Settings</button>
    </li>
    {% endcomment %}
    <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
    Change Password</button>
    </li>
  </ul>

    <div class="tab-content pt-2">
      {% include 'base/tab-userprofile-overview.html' %}

    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

    <!-- Profile Edit Form -->

    <div class="row mb-3">
    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
    <div class="col-md-8 col-lg-9">
    {% if user.profile.image_file %}
    <img src="{{ user.profile.image_file.url }}" alt="Profile">
    {% else %}
    <img src="{% static 'img/logo.png'%}" alt="Profile">
    {% endif %}
    <div class="pt-2">
    <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#uploadphoto"><i class="bi bi-upload"></i></button>
    <button type="button" class="btn btn-danger btn-sm " data-bs-toggle="modal" data-bs-target="#delete"><i class="bi bi-trash"></i></button>
    </div>
    </div>
    </div>

    <!-- MODAL UPLOAD PHOTO-->
    <div class="modal fade" id="uploadphoto" tabindex="-1">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Upload Profile Image</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
      </button>
      </div>

      <div class="modal-body">
      <form class="row g-3" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="col-12">
      {{ iform.user }}
      {{ iform.image_file }}
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary" name="submit_image" value="Update">Save</button>
      </div>
      </form>
      </div>
      </div>
      </div>
    </div> <!-- END UPLOAD MODAL -->

    <!-- MODAL DELETE PHOTO-->
    <div class="modal fade" id="delete" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    </button>
    </div>

    <div class="modal-body">
    <form class="row g-3" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete the image?</p>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger" name="delete_image" value="Delete">Yes, Delete</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div> <!-- END DELETE MODAL -->

    {% include 'base/form-userprofile.html'%}

    </div>
      {% comment %}
      <div class="tab-pane fade pt-3" id="profile-settings">

        <!-- Settings Form -->
        <form>
          <div class="row mb-3">
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
            <div class="col-md-8 col-lg-9">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="changesMade" checked>
            <label class="form-check-label" for="changesMade">Changes made to your account</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="newProducts" checked>
            <label class="form-check-label" for="newProducts">Information on new products and services</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="proOffers">
            <label class="form-check-label" for="proOffers">Marketing and promo offers</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
            <label class="form-check-label" for="securityNotify">Security alerts</label>
            </div>
            </div>
          </div>

          <div class="text-center">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form><!-- End settings Form -->

      </div>
      {% endcomment %}
      <div class="tab-pane fade pt-3" id="profile-change-password">
        <!-- Change Password Form -->
       <form method="post">
        {% comment %}

          <div class="row mb-3">
          <label for="password1" class="col-md-4 col-lg-3 col-form-label">New Password</label>
          <div class="col-md-8 col-lg-9">
          <input name="password1" type="password" class="form-control" id="password1">
          </div>
          </div>

          <div class="row mb-3">
          <label for="password2" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
          <div class="col-md-8 col-lg-9">
          <input name="password2" type="password" class="form-control" id="password2">
          </div>
          </div>

           {{ uform.as_p }}
        {% endcomment %}
          
        {% csrf_token %}

        {% for field in uform %}

        <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="id_{{ field.name }}">{{ field.label }}:</label>
        <div class="col-md-8 col-lg-9">
          <div class="input-group">
            <input type="password" name="{{ field.name }}" class="form-control" autofocus required id="id_{{ field.name }}">
            <span class="input-group-text">
            <i class="bi bi-eye-slash" id="toggle_{{ field.name }}"></i>
            </span>
          </div>
        {% if field.errors %}
        <span class="error">  
          <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">{{ field.errors }}
          </div>
        </span>
        {% endif %}
        </div>
        </div>

        {% endfor %}


       {% comment %}
    <div class="row mb-3">
      <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
     <span class="error">E {{ form.old_password.errors }}</span>
     </div>
    <label class="col-sm-3 col-form-label" for="id_old_password">Old password:</label>
    <div class="col-md-8 col-lg-9">
    <input type="password" name="old_password" class="form-control" autocomplete="current-password" autofocus required id="id_old_password">
    </div>
    </div>
  
    <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for="id_new_password1">New password:</label>
    <div class="col-md-8 col-lg-9">
    <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1">
    </div>
      <span class="helptext" id="id_new_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>   
     </div>

  
    <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for="id_new_password2">New password:</label>
     <div class="col-md-8 col-lg-9">
    <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required aria-describedby="id_new_password2_helptext" id="id_new_password2">
     </div>
      <span class="helptext" id="id_new_password2_helptext">Enter the same password as before, for verification.</span>
     </div>
     {% endcomment %}

        <div class="text-center">
        <button type="submit" class="btn btn-primary" name="change_password" value="Update">Change Password</button>


          {% comment %}
          <button type="submit" class="btn btn-primary">Change Password</button>
         
          <button type="button" class="btn btn-primary" onclick="location.href='{% url 'pledge:userpassword_update' object.id %}'"><i class="bi bi-key"></i> Change Password </button>
          {% endcomment %}
          </div>

          
        </form><!-- End Change Password Form -->
      </div>

    </div><!-- End Bordered Tabs -->

  </div>
  </div>
  </div>

</div>
</section>

{% endblock %}

{% block extra_js %}
{{ block.super }}
  <script nonce="csms_custom_script" src="{% static 'js/password-eye.js'%}"></script>
{% endblock %}