{% load static %}
{% load humanize %}

<div class="tab-pane fade show active profile-overview" id="profile-overview">
  <h5 class="card-title">About</h5>
  <p class="small fst-italic">{{ user.profile.about}}</p>
  <h5 class="card-title">Profile Details</h5>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Full Name:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" value="{{ user.first_name}} {{ user.last_name }}" disabled="">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Organization:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" value="{{ user.profile.company }}" disabled="">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Job:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" value="{{ user.profile.job }}" disabled="">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Country:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" value="{{ user.profile.country }}" disabled="">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Address:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" value="{{ user.profile.address }}" disabled="">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Phone:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" value="{{ user.profile.phone }}" disabled="">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" value="{{ user.email }}" disabled="">
    </div>
  </div>
</div>